<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>YOpinion</title>
</head>
<body>
    <nav class="navbar">
        <span id="links">
            <h2 id="title">YOpinion</h2>
            <ul class="links">
                <li class="link"><a href="/" target="_blank" rel="noopener noreferrer">Home</a></li>
                <li class="link"><a href="*" target="_blank" rel="noopener noreferrer">Popular Blogs</a></li>
                <li class="link"><a href="*" target="_blank" rel="noopener noreferrer">Contact</a></li>
                <li class="link"><a href="*" target="_blank" rel="noopener noreferrer">About</a></li>
            </ul>
        </div>
        <div class="sidelink">
            <a href="/login" target="_blank" rel="noopener noreferrer">Login</a>
            <a href="/signup" target="_blank" rel="noopener noreferrer">Sign Up</a>
        </div>
    </nav>
    <section>
        <div class="image">
            <img src="" alt="avi nhi h">
            <h1 class="head">Want to share your opinions on different topics</h1>
            <h1 class="head">But lacking of audience?</h1>
            <h1 class="head">You write and we will give you the audience.</h1>
            <a href="*" target="_blank" rel="noopener noreferrer">Login</a>
            <a href="*" target="_blank" rel="noopener noreferrer">Sign Up</a>
        </div>
        <div class="content">
            <h1 class="head">
                Trending Opinions
            </h1>
            <div class="cards">
                <div class="cardbody">
                    <img class="cardimg" src="" alt="kuch to h">
                    <h3 class="cardhead">Lorem, ipsum dolor.</h3>
                    <p1 class="cardcontent">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo corporis a voluptas. Quas laboriosam fugiat totam quae laborum tempora nulla obcaecati at, hic architecto exercitationem odit! Neque nobis vel perspiciatis, ipsam placeat dolorum ratione recusandae ea odio beatae? Unde cum praesentium adipisci repellendus, molestias perspiciatis nemo illum vitae distinctio mollitia!
                    </p1>
                    <a href="*">Login to read more</a>
                </div>
                <div class="cardbody">
                    <img class="cardimg" src="" alt="kuch to h">
                    <h3 class="cardhead">Lorem, ipsum dolor.</h3>
                    <p1 class="cardcontent">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo corporis a voluptas. Quas laboriosam fugiat totam quae laborum tempora nulla obcaecati at, hic architecto exercitationem odit! Neque nobis vel perspiciatis, ipsam placeat dolorum ratione recusandae ea odio beatae? Unde cum praesentium adipisci repellendus, molestias perspiciatis nemo illum vitae distinctio mollitia!
                    </p1>
                    <a href="*">Login to read more</a>
                </div>
                <div class="cardbody">
                    <img class="cardimg" src="" alt="kuch to h">
                    <h3 class="cardhead">Lorem, ipsum dolor.</h3>
                    <p1 class="cardcontent">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo corporis a voluptas. Quas laboriosam fugiat totam quae laborum tempora nulla obcaecati at, hic architecto exercitationem odit! Neque nobis vel perspiciatis, ipsam placeat dolorum ratione recusandae ea odio beatae? Unde cum praesentium adipisci repellendus, molestias perspiciatis nemo illum vitae distinctio mollitia!
                    </p1>
                    <a href="*">Login to read more</a>
                </div>
                <div class="cardbody">
                    <img class="cardimg" src="" alt="kuch to h">
                    <h3 class="cardhead">Lorem, ipsum dolor.</h3>
                    <p1 class="cardcontent">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo corporis a voluptas. Quas laboriosam fugiat totam quae laborum tempora nulla obcaecati at, hic architecto exercitationem odit! Neque nobis vel perspiciatis, ipsam placeat dolorum ratione recusandae ea odio beatae? Unde cum praesentium adipisci repellendus, molestias perspiciatis nemo illum vitae distinctio mollitia!
                    </p1>
                    <a href="*">Login to read more</a>
                </div>
                <div class="cardbody">
                    <img class="cardimg" src="" alt="kuch to h">
                    <h3 class="cardhead">Lorem, ipsum dolor.</h3>
                    <p1 class="cardcontent">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo corporis a voluptas. Quas laboriosam fugiat totam quae laborum tempora nulla obcaecati at, hic architecto exercitationem odit! Neque nobis vel perspiciatis, ipsam placeat dolorum ratione recusandae ea odio beatae? Unde cum praesentium adipisci repellendus, molestias perspiciatis nemo illum vitae distinctio mollitia!
                    </p1>
                    <a href="*">Login to read more</a>
                </div>
                <div class="cardbody">
                    <img class="cardimg" src="" alt="kuch to h">
                    <h3 class="cardhead">Lorem, ipsum dolor.</h3>
                    <p1 class="cardcontent">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo corporis a voluptas. Quas laboriosam fugiat totam quae laborum tempora nulla obcaecati at, hic architecto exercitationem odit! Neque nobis vel perspiciatis, ipsam placeat dolorum ratione recusandae ea odio beatae? Unde cum praesentium adipisci repellendus, molestias perspiciatis nemo illum vitae distinctio mollitia!
                    </p1>
                    <a href="*">Login to read more</a>
                </div>
                
            </div>
        </div>
    </section>
    <footer></footer>
</body>
</html>